<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Design a new scheme</title>

    <!-- Google font -->
    <!--link href="https://fonts.googleapis.com/css?family=PT+sans:400" rel="stylesheet"-->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <!-- Custom stylesheet -->
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Section 1-->
    <div id="booking" class="section">
      <div class="section-center">
        <div class="container">
          <div class="row">
            <div class="booking-form">
              <form id="Scheme-form">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-checkbox">
                            <label for="SingleScheme">
                              <input type="radio" id="SingleScheme" name="Scheme" value="Single-scheme"/>
                              <span></span> Single-Scheme
                            </label>

                            <label for="multiScheme">
                              <input type="radio" id="multiScheme" name="Scheme" value="Multi-scheme"/>
                              <span></span> multi-Scheme
                            </label>
                          </div>
                        </div>
                        <div class="col-md-6">
                            <div class="dropdown">
                                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">CONSENSUS GENOME
                                  <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Human Genome</a></li>
                                    <li><a href="#">Cat Genome</a></li>
                                    <li><a href="#">Bacteria Genome</a></li>
                                  </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Fishier FASTA</span>
                      <input class="form-control" type="file" id="file-scheme" multiple required/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <span class="form-label">Nom du Programme</span>
                      <input class="form-control" type="text" id="name_scheme" placeholder="NCov-400"  required/>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Paramètres D'armorces</h5>
                        <div class="row">
                          <div class="col-md-4">
                          <div class="form-group">
                            <span class="form-label">Primer Size Min</span>
                            <input class="form-control" type="number" id="PrimerSizeMin" placeholder="Min" value="19"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <span class="form-label">Primer Size Opt</span>
                            <input class="form-control" type="number" id="PrimerSizeOpt" placeholder="Opt"  value="22"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <span class="form-label">Primer Size Max</span>
                            <input class="form-control" type="number" id="PrimerSizeMax" placeholder="Max"  value="34"/>
                          </div>
                        </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            <div class="form-group">
                              <span class="form-label">Primer TM Min</span>
                              <input class="form-control" type="number" step="0.01" id="PrimerTmMin" placeholder="Min" value="59.5"/>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <span class="form-label">Primer TM Opt</span>
                              <input class="form-control" type="number" id="PrimerTmOpt" placeholder="Opt" value="61.0"/>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-group">
                              <span class="form-label">Primer TM Max</span>
                              <input class="form-control" type="number" step="0.01" id="PrimerTmMax" placeholder="Max" value="62.5"/>
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Paramètres Amplicons</h5>
                        <div class="col-md-4">
                          <div class="form-group">
                            <span class="form-label">Product Size Min</span>
                            <input class="form-control" type="number" id="ProductSizeMin" placeholder="Min" value="380"/>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-group">
                            <span class="form-label">Product Size Max</span>
                            <input class="form-control" type="number" id="ProductSizeMax" placeholder="Max"  value="420"/>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
                <div class="row" >
                  <div class="col-md-6">
                    <div class="form-btn">
                      <button type="submit" id="submitBtn" class=" submit-btn">Design Primers</button>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-btn">
                      <button id="reset" type="reset">Reset Values</button>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="../static/js/queryforPrimer.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
  </body>
</html>